
//colors
$colorBlue :#15ABFF;
$colorPurple:#6D31ED;
$colorSecondary :#FF56A5;
$colorMessage:#F0F9FF;

$colorWhite: #FFF ;
$colorDark:  #9095A1;



// Break Points
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-1350: 1350px; // 1350px
$bp-500 :500px